@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/font-nanumsquare/1.0.0/nanumsquare.css");

/***********초기화값**********/
body, h1, h2, h3,h4, p, ul, dl, dd{
  margin: 0;
  padding: 0;
}
ul li{ list-style: none; }
a{ text-decoration: none;}
hr {display: none;}
.hidden{ position: absolute; left: -9999px;}
address { font-style:normal; }
small { font-size: 1em;}
img {border: 0;}
html,body{
  font-family: 'NanumSquare', sans-serif !important;
  min-width: 1200px;
  background-color:rgb(206, 179, 179);
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display:block; }
table{
  border-collapse: collapse;
}
.horizon{
	opacity : 0;
}
/*******top*******/
.top{
  width: auto;
  min-width: 1200px;
  margin: 0 auto;
  height: 1050px;
  background: url(img/1.jpg) no-repeat center center;
  background-size: cover;
  overflow: hidden;
}
.top .top_content{
  width: 1200px;
  margin: 0 auto;
  margin-top: 220px;
  position: absolute;
}
.top h1{
  font-size: 130px;
  color: #fff;
  padding-top:100px;
  padding-left:100px;
}
.top h2{
  font-size: 70px;
  color: white;
}
/******servieinfo********/
.serviceinfo{
  width: 1200px;
  margin: 0 auto;
  margin-top: 120px;
  position: relative;
}
.serviceinfo .serviceinfo_content{
  margin: 0px auto;
  text-align: center;
  padding-left: 100px;
}
.serviceinfo h1{
  font-size : 50px;
  color: white;
}
.serviceinfo p{
  text-align: center;
  padding-top: 50px;
  line-height: 170%;
  font-size: 20px;
  color:white;
}
.serviceinfo span{
  background-color: #c3e0fa;
  color:#444343;
  font-weight: bold;
}
/******target********/
.field{
  background-color:#585858;
  margin-top: -5px;
  width:auto;
  position: relative;
}

.field .field_content{
  margin:0px auto;
  padding-bottom: 80px;
}
.field h1{
  font-size : 50px;
  color:#fff;
  text-align:center;
  padding-top: 70px;
  padding-bottom:30px;

}
.field h3{
  font-size : 20px;
  color:#444343;
  padding-top: 40px;
  margin-left: 200px;

}
.field p{
  font-size : 20px;
  padding-top: 50px;
  line-height: 150%;
  margin-left:200px;
  text-align: center;
  
}
.field span{
  font-weight: bold;
  font-size:20px;
}

.field .head{
  border-radius: 25px;
  background-color:#0D82EB;
  width:300px;
  padding:7px;
  margin: 0px auto;
  font-size: 20px;
  font-weight:bold;
  color:white;
  text-align:center;
  margin-top: 80px;
}
.field img{
  width:500px; 
  height:400px;
  padding-bottom: 23px;

}
/********serviceimg********/
.fieldimg{
  width:auto;
  height:auto;
  display:inline-block;
  
}
.fieldimg h4{
  font-size:30px;
  color:#fff;
  text-align: center;
  padding-top: 25px;
  text-decoration: none;
  border-top:4px solid #fff; 
  padding-top : 23px;
  padding-bottom : 8rem;
}
.fieldimg > p{
  text-align: center;
  padding-top: 5px;
  font-size: 20px;
  color:white;
}
/******target2********/
.target2{
  background-color: #d7e5f1;
}
.target2 .addinfo{f
  text-align: left;
  padding: 20px;
  padding-bottom:0px;
  display:inline-block;
  vertical-align:top;
  border: 3px solid #0D82EB;
  border-radius: 25px; 
  width:580px; 
  height:450px; 
}
.target2 h3{
  font-size : 20px;
  color:#444343;
  padding-top: 20px;
}
.target2 p{
  font-size : 18px;
  padding-top: 10px;
  line-height: 150%;
}
.target2 span{
  font-weight: bold;
  font-size:20px;
}
/******income********/
.income{
  background-color: #d7e5f1;
  padding-top:100px;
  padding-bottom:100px;
}
.income h3{
  margin-left: 200px;
  padding-bottom: 45px;
  color:rgb(59, 59, 59);
}
.income table{
  width: 1200px;
  margin: 0 auto;
  border: 1px solid #737373;
  line-height: 30px;
  font-size: 14px;
}

.income th{
  background: #8ebee9;
}
.income table.old{
  width: auto;
}
.income table.old tr td{
  padding: 5px;
}
.income table td, .income table th{
  border: 1px solid #737373;
  text-align: center;
}

/******content********/
.content{
  margin-top: 50px;
}
.content h1{
  font-size : 45px;
  color:white;
  text-align:center;
  padding-top: 80px;
}
.content .sub_content{
  margin: 0px auto;
  text-align: center;
  padding-left: 100px;
}
.content p{
  text-align: center;
  padding-top: 20px;
  line-height: 150%;
  font-size: 20px;
  color:white;
}
.content img{
  width:350px; 
  height:400px;
  padding-bottom: 23px;

}




/*******supportfund**********/
.supportfund{
  margin-top: 200px;
}
.supportfund h1{
  font-size : 45px;
  color:white;
  text-align:center;
  padding-top: 10px;
}
.supportfund table{
  width: 1250px;
  margin: 0 auto;
  border: 1.5px solid #fff;
  line-height: 30px;
  font-size: 20px;
  margin-top:100px;
  background-color: #c7dcee;
}

.supportfund th{
  background: #b4d5f1;
  padding:10px;
}
.supportfund table td{
  border: 2px solid #0D82EB;
  padding : 20px;
  text-align: center;
}
.supportfund table th{
  text-align: center;
  border:2px solid #0D82EB;
}
.supportfund p{
  font-size : 18px;
  padding-top: 20px;
  line-height: 150%;
  font-weight: bold;
  padding-left:330px;
  color:#262626;
}
.supportfund h6{
  font-size : 25px;
  padding-top: 10px;
  line-height: 150%;
  color:#fff;
  font-weight: bold;
  padding-left:330px;
  color:#fff;
}
.supportfund li{
  font-size : 18px;
  padding-top: 15px;
  color:#fff;
  padding-left:330px;
 
}
/********qrcode********/
.qrcode {
  background-color: #d7e5f1;
}
.qrcode h1{
  font-size : 45px;
  color:#585656;
  text-align : center;
  padding-top: 80px;
}
.qrcode p, .qrcode h6{
  font-size : 18px;
  padding-top: 10px;
  font-weight: bold;
  color:#262626;
}
.qrcode h3{
  font-size : 27px;
  color:#0D82EB;
  text-align : left;
  padding-top: 80px;
  font-weight:900px;
  text-decoration: none;
  padding-bottom:5px;
  border-bottom:4px solid #0D82EB; 
}
.qrcode_content a{
  font-size : 18px;
  font-weight: bold;
  color:#0D82EB;
}

.qrcode .qrcode_content{
  text-align: center;
}
.applyinfo{
  display: inline-block;
  text-align: center;
  vertical-align: top;
  padding-bottom: 100px;
}
.applyinfo span{
  font-weight: bold;
  color:rgb(48, 48, 48);
}
.applyinfo > p{
  font-size : 20px;
  color:#585656;
  text-align : left;
  line-height: 150%;
  padding-top: 10px;
}
/*********place**********/
.place{
  text-align: center;
  margin-top:100px;
  margin-bottom:100px
}
.place img{
  border-radius: 20px;
  width:500px;
}
.place .place_content{
  width: 500px;
  height:auto;
  display:inline-block;
}
.place h1{
  font-size : 45px;
  color:#fff;
  text-align : left;
  padding: 20px 0 90px 230px;
}
.place h4{
  color:#fff;
  font-size:28px;
  text-align: center;
  padding-top: 30px;
}
.place p{
  text-align: center;
  padding-top: 20px;
  line-height: 170%;
  font-size: 20px;
  color:white;
}
/*********footer*********/

#footer{
	width: 100%;
    height:auto;
  margin: 0 auto;
	text-align: center;
	font-size: 13px;
	padding: 10px 0;
	position:relative;
}
#footer .totop{
	display: block;
	position: absolute;
	top: 0; right: 0;
	width: 80px; height: 80px;
	background: url(../images/totop.png) no-repeat center center;
	text-indent: -9999px;
}
#footer p{
	line-height : 23px;
    font-size:17px;
}
#footer p b{
	padding-top: 20px;
	display: block;
	font-size: 20px;
	padding-bottom: 20px;
}


@media all and (max-width:1200px){
	.benefit ul{
  padding : 0 ;
}
}